extends ../../layouts/default.pug
include ../../mixins/search.pug
include ../../mixins/sort.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    h1(class = "mb-4") Cac san pham da xoa
    
    .card.mb-3 
        .card-header.mb-3 Tim kiem
        .row 
            .col-6.mb-3
            .col-6.mb-3
                +search()
        
    .card.mb-3
        .card-header.mb-3 Sap xep
        .row 
            .col-6.mb-3 
                +sort()

    .card.mb-3 
        .card-header.mb-3 Danh sach
        table(class="table table-hover table-sm" checkbox-multi)
            thead
                tr 
                    th 
                        input(type="checkbox", name="checkall" id="checkall")
                    th STT 
                    th Tieu de
                    th Gia 
                    th Vi tri 
                    th Trang thai 
                    th Hanh dong
            tbody 
                each item, index in records
                    tr 
                        td #{index} 
                        td 
                            img(src = item.thumbnail, alt = item.title width='100px' height='auto')
                        td #{item.title}
                        th #{item.price}$
                        td 
                            input(type="number" value= item.position style="width: 60px" min="1" name="position")
                        td 
                                if (item.status == 'active')
                                    a(href="javascript:;"
                                        data-status="active"
                                        button-change-status 
                                        data-id= item.id
                                        class='badge badge-success') Hoat dong 
                                else
                                    a(href="javascript:;"
                                        data-status="inactive"
                                        button-change-status
                                        data-id = item.id 
                                        class='badge badge-danger') Dung hoat dong   
                        td 
                            a(href=`${prefixAdmin}/products/detail/${item.id}`
                                class="btn btn-secondary btn-sm mr-1") Chi tiet 
                            a(href=`${prefixAdmin}/products/edit/${item.id}`)
                                button( class='btn btn-warning btn-sm') Sua
                            button( class='btn btn-danger btn-sm ml-1'
                                    data-id = item.id
                                    button-delete) Xoa
                            button( class='btn btn-primary btn-sm ml-1'
                                    data-id = item.id
                                    button-restort) Khoi phuc
                

    form(action="" method="POST" id="form-change-status" data-path=`${prefixAdmin}/products/change-status`) 

    form(action="" method="POST" id="form-delete" data-path=`${prefixAdmin}/products/delete`) 

    form(action="" method="POST" id="form-restore" data-path=`${prefixAdmin}/products/deleted`)

    script(src="/admin/js/product.js") 
