extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug


block main
    +alert-success(5000)
    +alert-error(5000)

    h1(class='mb-4') Chinh sua san pham

    form(
        action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
        id="form-edit-product"
        method="POST"
        enctype="multipart/form-data"
    ) 
        div(class="form-group")
            label(for="product_category_id") Tieu de 
            select(
            class="form-control"
            id="product_category_id"
            name="product_category_id"
            ) 
                option(value="") -- Chon danh muc cha --
                if (category) 
                    +select-tree(category, 1, product.product_category_id)

        div(class="form-group")
            label(for="title") Tieu de 
            input(type="text"
            class="form-control"
            id="title"
            name="title"
            value = product.title
            ) 

        div(class="form-group")
            label(for="desc") Mo ta 
            input(type="text"
            class="form-control"
            id="desc"
            name="description"
            rows="5"
            value = product.description
            )
        div(class="form-group")
            label(for="price") Gia
            input(type="number"
            class="form-control"
            id="price"
            name="price"
            placeholder="0"
            min="0"
            value = product.price
            )
        div(class="form-group")
            label(for="discount") Giam gia
            input(type="number"
            class="form-control"
            id="discount"
            name="discountPercentage"
            placeholder="0"
            min="0"
            value = product.discountPercentage
            )
        div(class="form-group")
            label(for="stock") So luong
            input(type="number"
            class="form-control"
            id="stock"
            name="stock"
            placeholder="0"
            min="0"
            value = product.stock
            )
        div(class="form-group" upload-image)
            label(for="thumbnail") Anh
            input(type="file"
            class="form-control-file"
            id="thumbnail"
            name="thumbnail"
            accept="image/*"
            upload-image-input
            )
            img(src= product.thumbnail, alt="" upload-image-preview class="image-preview")
        div(class="form-group")
            label(for="position") Vi tri
            input(type="number"
            class="form-control"
            id="position"
            name="position"
            placeholder="Tu dong tang"
            min= "1"
            value = product.position
            )
        div(class="form-group form-check form-check-inline")
            input(type="radio"
            class="form-check-input"
            id="status-inactive"
            name="status"
            value="inactive"
            checked = (product.status == "inactive" ? true : false) 
            )
            label(for="status-inactive" class="form-check-label") Khong hoat dong

        div(class="form-group form-check form-check-inline")
            input(type="radio"
            class="form-check-input"
            id="status-active"
            name="status"
            value="active"
            checked = (product.status == "active" ? true : false)
            )
            label(for="status-active" class="form-check-label") Hoat dong
        
        div(class="form-group")
            button(type="submit"
            class="btn btn-primary") Sua 

    script(src="/admin/js/product.js")